h1{
    
}
container {
        background-color: white;
        padding:20px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
}
boty{
    background-image: url("lorempixel.com");
}